body {
    height: 100%;
    padding-top: 40px;
}

body>.container-fluid{
    position: absolute;
    top:40px;
    bottom: 20px;
    left: 0;
    right: 0;
}

body>.container-fluid>.row-fluid, .span10, .span10>.row-fluid{
    position: relative;
    height: 100%;
    width: 100%;
}

.span10>.row-fluid>.block-content{
    position: absolute;
    top: 61px;
    bottom: 0;
    left: 0;
    right: 0;
}

#mapInfo{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 2px #cccccc;
    background-color: #f9f9f9;
    color: #999999;
    border: 0.5px solid #c4c4c4;
}

#mapInfo .row{
    position: relative;
    margin-left: 0;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
}

#mapInfo input[type="text"]{
    width: 150px;
    margin: 0;
}

#allmap{
    height: 100%;
    width: 100%;
}

body>footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

body>footer p{
    margin: 0;
}