body {
    height: 100%;
    padding-top: 40px;
}

body>.container-fluid{
    position: absolute;
    top:40px;
    bottom: 20px;
    left: 0;
    right: 0;
}

#sidebar{
    margin: 20px 0 0;
}

body>.container-fluid>.row-fluid, #content>.row-fluid{
    position: relative;
    height: 100%;
    width: 100%;
}

#content{
    height: 100%;
    position: relative;
    overflow: hidden;
}

#content>.row-fluid{
    overflow: scroll;
}

#content>.row-fluid::-webkit-scrollbar{
    display: none;
}

#content>.row-fluid>.block-content{
    position: absolute;
    top: 61px;
    bottom: 0;
    left: 0;
    right: 0;
}

#mapInfo{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 2px #cccccc;
    background-color: #f9f9f9;
    color: #999999;
    border: 0.5px solid #c4c4c4;
}

#mapInfo .row{
    position: relative;
    margin-left: 0;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
}

#mapInfo input[type="text"]{
    width: 150px;
    margin: 0;
}

#allmap{
    height: 100%;
    width: 100%;
}

body>footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

body>footer p{
    margin: 0;
}

#image_viewer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1031;
    overflow: auto;
}

#image_viewer #background{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
}

#image_viewer img{
    height: 90%;
    max-height: 90%;
    width: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}