<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
文件名：${filename}<br>
文件大小：${filesize}<br>
<form enctype="multipart/form-data">
    <input type="file" name="file" id="file1">
</form>
<button onclick="buttonOnClick()">上传</button>
<div id="bar">
    <div></div>
</div>
<div id="rate"></div>
</body>
</html>

<script>
    function buttonOnClick() {
        var fileUpload = $("#file1")[0].files[0];
        var formData = new FormData();
        formData.append('file', fileUpload);
        $.ajax({
            url:"fileUpload",
            type:"post",
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            xhr:function () {
                let xmlHttpRequest = $.ajaxSettings.xhr();
                xmlHttpRequest.upload.addEventListener('progress', function (e) {
                    let progressRate = (e.loaded / e.total) * 100 + '%';
                    $("#bar>div").width(progressRate);
                    $("#rate").text(progressRate);
                })
                return xmlHttpRequest;
            }
        })
    }
</script>
<style>
    #bar{
        height: 20px;
        background: aliceblue;
    }
    #bar>div{
        transition: width 1s;
        height: 100%;
        width: 0;
        background: aquamarine;
    }
</style>