<!DOCTYPE html>
<html class="no-js">    
    <head>
        <title>水库蓄水量计算系统</title>
        <!-- Bootstrap -->
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../static/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
        <link href="../static/assets/styles.css" rel="stylesheet" media="screen">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nH5MljbSZqw21joZydvfbW6jGXZBOu6c"></script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="../static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/html2canvas.min.js"></script>
        <link href="../static/css/styles.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">水库蓄水量计算系统</a>
                    
                        
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a href="/index"><i class="icon-chevron-right"></i> 首页</a>
                        </li>
                        
                        <li>
                            <a href="/result"><i class="icon-chevron-right"></i> 结果展示</a>
                        </li>
                        <li>
                            <a href="/upload"><i class="icon-chevron-right"></i> 数据提交</a>
                        </li>
                        <li>
                            <a href="/tables"><i class="icon-chevron-right"></i> 数据管理</a>
                        </li>
                        
                    </ul>
                </div>
                
                <!--/span-->
                <div class="span10" id="content">    
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">水库定位</div>


                                </div>
                            </div>
                            <div class="block-content">
                                <div class="container" id="mapInfo">
                                    <div class="row">
                                        <span class="span4">
                                            水库名:
                                            <input id="reservoirName" type="text" list="reservoirList">
                                            <datalist id="reservoirList">
                                            </datalist>
                                            <input type="button" class="btn btn-info" value="查询" onclick="search()" />
                                        </span>
                                        <span class="span8">
                                            经度: <input id="longitude" type="text"/>
                                            纬度: <input id="latitude" type="text" />
                                            <input type="button" class="btn" value="定位坐标" onclick="theLocation()" />
                                            <input type="button" class="btn btn-success" value="确定" onclick="submitReservoirName()"/>
                                        </span>
                                    </div>
                                </div>
                                <div id="allmap"></div>
                            </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>
            <footer>
                <p align="middle">&copy; 河南大学计算机学院</p>
            </footer>
        </div>
        <!--/.fluid-container-->
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
        <script src="../static/assets/scripts.js"></script>
        <script>
        $(function() {
            // Easy pie charts
            $('.chart').easyPieChart({animate: 1000});
        });
        </script>
    </body>
	<script type="text/javascript">
	  // 百度地图API功能
	  var map = new BMap.Map("allmap");
	  map.centerAndZoom(new BMap.Point(116.331398,39.897445),12);
	  map.enableScrollWheelZoom(true);
      map.setDefaultCursor("url('../static/images/point.png')");
      map.setDraggingCursor("url('../static/images/point.png')");
	  var marker_icon = new BMap.Icon("../static/images/marker.png", new BMap.Size(40, 40));
      var geolocation = new BMap.Geolocation();

      //地图初始化时，根据浏览器定位至当前位置
      geolocation.getCurrentPosition(function(r){
          if(this.getStatus() == BMAP_STATUS_SUCCESS){
              var mk = new BMap.Marker(r.point,{icon:marker_icon});
              map.addOverlay(mk);
              map.panTo(r.point);
              $("#longitude").val(r.point.lng);
              $("#latitude").val(r.point.lat);
              map.addOverlay(new BMap.Marker(BMap.Point(116.400244,39.92556)));
          }
          else {
              alert('未获取到定位权限，获取当前位置失败。');
          }
      },{enableHighAccuracy: true})
      map.addControl(new BMap.NavigationControl());
	  // 用经纬度设置地图中心点
	  function theLocation(){
	    if(document.getElementById("longitude").value != "" && document.getElementById("latitude").value != ""){
	      map.clearOverlays(); 
	      var new_point = new BMap.Point(document.getElementById("longitude").value,document.getElementById("latitude").value);
	      var marker = new BMap.Marker(new_point,{icon:marker_icon});  // 创建标注
	      map.addOverlay(marker);              // 将标注添加到地图中
	      map.panTo(new_point);      
	    }
	  }

	  function search(){
          for(let i = 0; i < reservoirList.length; i++){
              if ($("#reservoirName").val() === reservoirList[i].name){
                  //百度定位至某水库中心点
                  let center_pointLng = (Number(reservoirList[i].longitudeLeft) + Number(reservoirList[i].longitudeRight)) / 2;
                  let center_pointLat = (Number(reservoirList[i].latitudeLeft) + Number(reservoirList[i].latitudeRight)) / 2;
                  let new_point = new BMap.Point(center_pointLng,center_pointLat);
                  $("#longitude").val(center_pointLng);
                  $("#latitude").val(center_pointLat);
                  map.panTo(new_point);
                  map.setZoom(11);
                  return;
              }
          }
          alert("搜索暂无结果");
      }

      function submitReservoirName(){
	      $.get("api/setReservoirId?rname=" + $("#reservoirName").val(), function (data) {
	          if (data==="success"){
	              //alert("成功");
	              window.location.href = "result";
              }
          });
      }

      map.addEventListener("click",function(e){
          //点击事件，在地图上添加标注点
          map.clearOverlays();
          let lng = e.point.lng;
          let lat = e.point.lat;
          $("#longitude").val(lng);
          $("#latitude").val(lat);
          let point = new BMap.Point(lng,lat);
          let marker = new BMap.Marker(point,{icon:marker_icon});
          let zoom = map.getZoom();
          map.addOverlay(marker);

          //判断点击的坐标是否在水库内
          for(let i = 0; i < reservoirList.length; i++){
            if (lng>=reservoirList[i].longitudeLeft&&
                lng<=reservoirList[i].longitudeRight&&
                lat>=reservoirList[i].latitudeRight&&
                lat<=reservoirList[i].latitudeLeft){
                isWaterArea(lng, lat, zoom, reservoirList[i].name)
            }
            else {
                $("#reservoirName").val("");
            }
          }


      });

	  function isWaterArea(lng, lat, zoom, rname){
          $.get("api/map/isWaterArea?lng="+lng+"&lat="+lat+"&zoom="+zoom, function (data) {
              if (data==="true"){
                  $("#reservoirName").val(rname);
              }
              else {
                  $("#reservoirName").val("");
              }
          });
      }

      //向系统索要水库信息表并保存，以避免多次查询
      let reservoirList = [];
	  $.get("api/reservoirInfo/reservoir", function (data) {
	      let json = JSON.parse(data);
	      for (let i = 0; i < json.length; i++){
              let reservoir = {
                  name : json[i].name,
                  longitudeLeft : json[i].longitudeLeft,
                  latitudeLeft : json[i].latitudeLeft,
                  longitudeRight : json[i].longitudeRight,
                  latitudeRight : json[i].latitudeRight
              };
              reservoirList.push(reservoir);
              let option=$("<option></option>").text(reservoir.name);
	          $("#reservoirList").append(option);
          }
      });

	</script>
</html>