<!DOCTYPE html>
<html>
    
    <head>
        <title>数据表格页面</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <!-- Bootstrap -->
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../static/assets/styles.css" rel="stylesheet" media="screen">
        <link href="../static/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="../static/css/dataTablesStyle.css" rel="stylesheet">
        <link href="../static/css/styles.css" rel="stylesheet">
        <script src="../static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">水库蓄水量计算系统</a>
                    
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li>
                            <a href="index"><i class="icon-chevron-right"></i> 首页</a>
                        </li>
                        
                        <li>
                            <a href="result"><i class="icon-chevron-right"></i> 结果展示</a>
                        </li>
                        <li>
                            <a href="upload"><i class="icon-chevron-right"></i> 数据提交</a>
                        </li>
                        <li class="active">
                            <a href="tables"><i class="icon-chevron-right"></i> 数据管理</a>
                        </li>
                       
                    </ul>
                </div>
                <!--/span-->
                <div class="span10" id="content">


                    
                     <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">数据管理</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
  									<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="image_table">
										<thead>
											<tr>
												<th>水库名字</th>
												<th>缩略图</th>
												<th>图片路径</th>
												<th>日期</th>
												<th>数据源类型</th>
												<th>下载</th>
											</tr>
										</thead>
									</table>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>


                </div>
            </div>
        </div>
        <footer>
            <p align="middle">&copy; 河南大学计算机学院</p>
        </footer>
        <!--/.fluid-container-->
        <script src="../static/js/jquery.min.js"></script>
        <!--script src="../static/vendors/jquery-1.9.1.js"></script-->
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/vendors/datatables/js/jquery.dataTables.js"></script>
        <script src="../static/js/Image_viewer.js"></script>
        <script src="../static/assets/scripts.js"></script>
        <script src="../static/assets/DT_bootstrap.js"></script>
        <script>
            let table = null;
            $("#image_table").ready(function () {
                table = $("#image_table").dataTable({
                    "ajax": {
                        "url": "api/data/image",
                        "dataSrc": function (json) {
                            for ( let i=0, ien=json.length ; i<ien ; i++ ) {
                                json[i]["img"] = "<img src=\"" + json[i]["path"] + "\" class='hover-border' onclick='view_image(this)'/>";
                                json[i]["download_link"] = "<a href=\"api/download/image?type=" + json[i]["type"] + "&id=" + json[i]["id"] + "\">下载</a>";
                                if (json[i]["type"] === "sar"){
                                    json[i]["type"] = "SAR图像";
                                }
                                else {
                                    json[i]["type"] = "光学影像";
                                }
                            }
                            console.log(json);
                            return json;
                        },
                        "type": "GET"
                    },
                    "columns": [
                        {"data": "rname"},
                        {"data": "img", "bSortable": false},
                        {"data": "path", "bSortable": false},
                        {"data": "date"},
                        {"data": "type"},
                        {"data": "download_link", "bSortable": false},
                    ],
                    "order": [3, "desc"],
                    "bAutoWidth": false
                });
            });



        </script>
    </body>

</html>